@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo general para focus */
input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
    border-color: #f97316; /* Naranja */
    box-shadow: 0 0 0 3px rgba(249, 115, 22, 0.5); /* Efecto anillo */
}
\